@model Invoice_Project_MVC.Models.tbl_invoice_details
@{
    ViewBag.Title = "ViewInvoice";
    Layout = "~/Views/Shared/Invoice_Layout.cshtml";
}

<h2>View Invoice</h2>
<table class="table table-bordered">
    <tbody>
        <tr>
            <td colspan="2" style="text-align:center">

                <img src="~/images/logo.png" style="height:150px" />
                <h2 style="text-align:center">!! Customer Invoice !!</h2>
            </td>
        </tr>
        <tr>
            <td style="text-align:right"><p><h4>Made By Ganesh Shid </h4></p></td>
        </tr>
    </tbody>
</table>
